.page {
  color: var(--text-color);
  font-family: var(--main-font);
  background-color: var(--bg-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-block-size: var(--header-min-height);
  padding: var(--header-padding-top) var(--header-padding) var(--header-padding)
    var(--header-padding);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
}

.header__theme-menu-button {
  padding: 0 13px;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--decor-color);
  text-transform: lowercase;
  cursor: pointer;
  font-size: 18px;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-color: transparent;
  border-bottom-color: currentColor;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__rec {
  position: absolute;
  top: var(--decor-offset);
  right: calc(var(--decor-offset) + 29px);
  color: var(--decor-color);
  line-height: 1.39;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.header__title {
  justify-self: start;
  align-self: center;
  color: var(--accent-color);
  font-size: var(--header-title-size);
  line-height: var(--header-title-line-height);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  transform: translateY(7px);
}

.header__subtitle {
  align-self: end;
  margin-block-end: 56px;
}

.title-decor {
  color: var(--title-decor-color);
  font-weight: 700;
  line-height: 1.3;
  background-color: var(--title-decor-bg);
  font-size: 18px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: var(--decor-corner-size);
  block-size: var(--decor-corner-size);
}

.decorated-zone::before {
  top: var(--decor-offset);
  right: var(--decor-offset);
  border-top: var(--decor-corner-line) solid var(--decor-color);
  border-right: var(--decor-corner-line) solid var(--decor-color);
}

.decorated-zone::after {
  bottom: var(--decor-offset);
  left: var(--decor-offset);
  border-bottom: var(--decor-corner-line) solid var(--decor-color);
  border-left: var(--decor-corner-line) solid var(--decor-color);
}

.main {
  padding-block-start: 40px;
  padding-inline: var(--header-padding);
}

.content-section {
  display: grid;
  gap: 20px;
}

.content-section__cards {
  display: grid;
  font-size: 18px;
  gap: 20px;
  line-height: 23.4px;
}

.content-section__card {
  display: grid;
  gap: 10px;
}

.content-section__title {
  color: var(--decor-color);
  font-size: 18px;
  line-height: 23.4px;
}

.content-section__card-title {
  font-size: 18px;
  line-height: 23.4px;
}

.content-section__link {
  color: inherit;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
  text-decoration: none;
}

.content-section__link:hover {
  border-bottom: 1px solid currentColor;
}

.content-section__link:focus {
  outline: none;
}

.content-section__link:focus-visible {
  outline: 1px solid currentColor;
}

.content-section + .content-section {
  margin-top: 49px;
}

.content-section__image {
  display: block;
  inline-size: 100%;
}

.content-section_type_gallery {
  display: grid;
  gap: 10px;
}

.footer {
  display: grid;
  place-items: center;
  min-block-size: var(--footer-min-height);
  padding: var(--header-padding);
  margin-block-start: 42px;
}

.footer__title {
  color: var(--accent-color);
  font-size: var(--header-title-size);
  line-height: var(--header-title-line-height);
  text-shadow: 2px 2px 0 var(--footer-shadow-color);
}

@media (width >= 768px) {
  .header,
  .footer {
    block-size: 100vh;
  }

  .header__title {
    margin-inline-start: calc(var(--header-padding) * -1);
  }

  .header__subtitle {
    justify-self: end;
    inline-size: 50%;
    margin-block-end: 163px;
  }

  .main {
    padding-block-start: 60px;
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .content-section__title {
    grid-column: 1;
  }

  .content-section__cards {
    grid-column: 2;
  }

  .content-section_type_gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content-section__gallery-title {
    grid-column: 1 / -1;
  }

  .content-section_type_advices .content-section__title {
    grid-row: 1 / span 2;
  }

  .content-section__card-title_weight_regular {
    font-weight: 400;
  }

  .content-section__image {
    block-size: 100%;
    object-fit: cover;
  }

  .content-section + .content-section {
    margin-top: 80px;
  }

  .content-section__image:first-of-type,
  .content-section__image:last-of-type {
    grid-column: span 2;
  }

  .content-section__image:nth-of-type(2),
  .content-section__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .content-section_type_advices .content-section__subtitle {
    align-self: start;
  }

  .content-section_type_factors {
    grid-template-columns: 1fr;
  }

  .content-section_type_factors .content-section__title {
    grid-column: 1;
    inline-size: calc((100% - 40px) / 3);
  }

  .content-section_type_factors .content-section__cards {
    grid-column: 1;
    grid-template-columns: 1fr;
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media (width >= 1024px) {
  .header__title {
    transform: translateY(80px);
  }
  .header__subtitle {
    margin-block-end: 114px;
  }
  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, auto);
  }

  .content-section {
    gap: 10px;
  }

  .content-section_type_factors .content-section__cards {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    margin-block-start: 10px;
  }

  .content-section_type_advices .content-section__cards {
    margin-block-start: 10px;
  }

  .content-section_type_gallery {
    gap: 20px;
  }
}
