:root {
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --text-color: #f1b2ce;
  --accent-color: #db00ff;
  --main-font: "IBM Plex mono", monospace;
  --header-padding: 10px;
  --header-min-height: 668px;
  --header-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-title-line-height: 0.825;
  --header-padding-top: 75px;
  --decor-color: #ff0070;
  --title-decor-bg: var(--decor-color);
  --title-decor-color: #000028;
  --decor-offset: 10px;
  --decor-corner-size: 25px;
  --decor-corner-line: 1px;
  --footer-min-height: 668px;
  --title-shadow-color: var(--decor-color);
  --footer-shadow-color: #ff0070;
  --button-hover-border-color: rgba(255, 0, 112, 0.4);
  --link-shadow-color: #ff0070;
}

@media (width >= 768px) {
  :root {
    --header-padding: 20px;
    --header-padding-top: 192px;
    --decor-offset: 20px;
    --header-min-height: 1024px;
    --header-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  :root {
    --header-padding-top: 20px;
    --header-min-height: 768px;
  }
}
